@font-face {
    font-family: 'BMDOHYEON';
    src: url('../fonts/BMDOHYEON.ttf') format('truetype');
}

:root{
    /* --font-family: 'Apple SD Gothic Neo',arial,sans-serif; */
    --font-family: 'BMDOHYEON'
}  
*{
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    justify-content: center;
}

body {
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 140, 140, 0.108);
    margin: 0 auto;
}


/* search-section - 검색바 */


.search-section{
    background-color:var(--light-gray-color);
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section .search-bar {
    display: flex;
    align-items: center;
    width: 40%;
    margin-top: 3%;
    height: 60px;
    border-radius: 12px;
    border: none;
}

.search-section .search-bar .search-input {
    flex: 1; /* 입력란이 남는 공간을 모두 차지하도록 설정 */
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 30px;
    border: 3px solid black;
    outline: none;
}

.search-section .search-bar .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 20px;
    height: 52px;
    width: 52px;
    font-size: 20px;
}

.search-section .search-bar .search-button:hover {
    background-color: #0056b3;
}

.divison-line{
    border-top: 5px solid #444444;
    border-radius: 3px;
    margin: 30px 0px;
    width: 90%;
}


/* corp-detail-section - 기업 키워드, 기사 등 정보*/


.corp-detail-section{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.corp-detail-section .detail-item{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 85%;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    margin: 0 auto;
}

.news-divison-line{
    border-top: 3px solid rgba(143, 150, 157, 0.92);
    border-radius: 3px;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}

.corp-detail-section .detail-item .news-list{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap:3px
}

.article-box{
    width: 90%;
    padding: 15px;
}

.article-box .article-body{
    white-space: pre-line;
    overflow: hidden; 
    margin: 0 auto; 
    height: fit-content;
    flex: 1;
}

.article-box .article-date{
    color: gray;
    font-size: 13px;
    margin:0
}

.corp-detail-section .detail-title{
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 50px;
    margin-top: 30px;
}

.corp-detail-section .detail-item .finance-chart{

    padding: 25px;
    height: 500px;
}

.corp-detail-section .detail-item .another-corp-list-box{
    border: 4px solid gray;
    border-radius: 12px;
    width: 80%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 10px 0px 10px;
    margin: 25px;

    white-space: nowrap;
    overflow-x: auto;
    gap: 10px;
}

.another-corp-list-box .another-corp-box{
    border: none;
    background-color: rgb(53, 53, 219); /* 파란색 배경 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white; /* 흰색 글자 색상 */
    border-radius: 12px;
    width: fit-content;
    height: 50%;
    text-align: center;

    padding: 0px 10px 0px 10px;
    display: grid;
    place-items: center;
}