@font-face {
    font-family: 'BMDOHYEON';
    src: url('../fonts/BMDOHYEON.ttf') format('truetype');
}

:root{
    /* --font-family: 'Apple SD Gothic Neo',arial,sans-serif; */
    --font-family: 'BMDOHYEON'
} 
*{
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    justify-content: center;
}

body {
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 140, 140, 0.108);
    margin: 0 auto;
}


/* search-section - 검색바 */


.search-section{
    background-color:var(--light-gray-color);
    width:100%;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section .search-bar {
    display: flex;
    align-items: center;
    width: 40%;
    margin-top: 3%;
    height: 60px;
    border-radius: 12px;
    border: none;
}

.search-section .search-bar .search-input {
    flex: 1; /* 입력란이 남는 공간을 모두 차지하도록 설정 */
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 30px;
    border: 3px solid black;
    outline: none;
}

.search-section .search-bar .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 20px;
    height: 52px;
    width: 52px;
    font-size: 20px;
}

.search-section .search-bar .search-button:hover {
    background-color: #0056b3;
}

.divison-line{
    border-top: 5px solid #444444;
    border-radius: 3px;
    margin: 30px 0px;
    width: 80%;
}


/* .search-result-section - 검색 결과 */


.search-result-section{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search-container{
    display: flex;
    gap: 30px;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 15px;
    padding: 35px 0px 35px 0px
}

.search-container .searched_item{
    display: flex;
    gap: 10px;
    width: 80%;
    border: 3px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.search-container .searched_item:link{
    color: black;
    text-decoration: none;
}

.search-container .searched_item h2{
    color: black;
    text-decoration: none;
}

.search-container .searched_item:visited{
    color: black;
    text-decoration: none;
}

.search-container .searched_item:hover{
    background-color: lightgray;
}