<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/detail_style.css' %}">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <title>CorpAnalytica</title>
</head>
<body>


    <section class="search-section">
        <form class="search-bar" method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            {% if corp %}
                <input class="search-input" type="text"  value= "{{ corp.corpname }}" name="searched" aria-label="Search">
            {% else %}
                <input class="search-input" type="text" placeholder="기업이나 키워드를 검색해보세요!" name="searched" aria-label="Search">
            {% endif %}

                <button class="search-button" type="submit"><i class="fas fa-search"></i></button>

        </form>

        <hr class="divison-line">
    </section>

    <section class="corp-detail-section">

        <h1 class="detail-title">키워드</h1>

            <div class="detail-item">
                <img src="data:image/png;base64, {{ wordcloud_img|safe }}" alt="" id="wordcloud_img">
            </div>

        <h1 class="detail-title">기사</h1>

            <div class="detail-item">
                <ul class="news_list">
                    {% for naver_news_one in naver_news %}
                        <div class="article-box">
                            <a href='{{ naver_news_one.link }}'>
                            <h3>{{ naver_news_one.title |safe }}</h3>
                            </a>
                            <p class="article-body">{{naver_news_one.description |safe}}</p>
                            <p class="article-date">{{naver_news_one.pubdate}}</p>
                        </div>
                        <hr class="news-divison-line">
                    {% endfor %}
                </ul>
            </div>

        <h1 class="detail-title">주식</h1>

            <div class="detail-item">
                <img src="data:image/png;base64, {{ stock_graph_img|safe }}" alt="" id="stock_graph_img">
            </div>

        <h1 class="detail-title">비슷한 키워드를 가진 기업</h1>

            <div class="detail-item">
                <div class="another-corp-list-box">
                    {% for corp in related_corp_list %}
                        <div class="another-corp-box">{{corp.related_name}}</div>
                    {% endfor %}
                </div>
            </div>
        
    </section>


</body>
</html>