<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <title>CorpAnalytica</title>
</head>
<body>

        <section class="search-section">
                <form class="search-bar" method="POST" action="{% url 'search' %}">
                        {% csrf_token %}  

                        {% if searched %}
                                <input class="search-input" type="text" value= "{{ searched }}" name="searched" aria-label="Search">
                        {% else %}
                                <input class="search-input" type="text" placeholder="기업이나 키워드를 검색해보세요!" name="searched" aria-label="Search">
                        {% endif %}
                                <button class="search-button" type="submit"><i class="fas fa-search"></i></button>

                </form>

                <hr class="divison-line">
        </section>

        <section class="search-result-section">

                <div class="search-container">

                        <!-- 상장기업결과 나열하기 -->
                        {% for corp in stock_corps_list %}
                        <a class="searched_item" href="{% url 'detail' entno=corp.entno %}">
                                <h2>{{ corp.corpname }}</h2>
                                <p>주식 종목 코드 : {{ corp.code }}</p>
                                {% if corp.address %}
                                <p>주소 : {{ corp.address }}</p>
                                {% endif %}
                                

                                <!-- 해당 기업의 키워드 -->
                                {% if corp.keyword %}
                                <div class="keyword-div">
                                        <p>키워드 : </p>
                                        <ul class="keyword-list">
                                        {% for keyword in stock_corps_keywords|get_value_from_dict:corp.entno %}
                                                <li>{{ keyword }} </li>
                                        {% endfor %}
                                        </ul>
                                </div>
                                {% endif %}

                                <p class="tags">법인 등록 코드 : {{ corp.crno }}</p>
                        </a>
                        {% endfor %}

                        <!-- 비상장기업결과 나열하기 -->
                        <!-- 더보기로 구현? -->
                        {% for corp in non_stock_corps_list|slice:":5" %}
                        <a class="searched_item" href="{% url 'detail' entno=corp.entno %}">
                                <h2>{{ corp.corpname }}</h2>
                                {% if corp.address %}
                                <p>주소 : {{ corp.address }}</p>
                                {% endif %}
                                <p class="tags">법인 등록 코드 : {{ corp.crno }}</p>
                        </a>
                        {% endfor %}

                        <!-- 뉴스결과 나열하기 -->
                        <ul class="news_list">
                                {% for news in searched_news_list%}
                                        <div class="article-box">
                                                <a href='{{ news.link }}'><h3>{{ news.title |safe }}</h3></a>
                                                <p class="article-body">{{news.description |safe}}</p>
                                                <p class="article-date">{{news.pubdate}}</p>
                                        </div>
                                        <hr class="news-divison-line">
                                {% endfor %}
                        </ul>

                </div>
        </section>

</body>
</html>