<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <title>CorpAnalytica</title>
</head>
<body>

        <section class="search-section">
                <form class="search-bar" method="POST" action="{% url 'search' %}">
                        {% csrf_token %}  

                        {% if searched %}
                                <input class="search-input" type="text" value= "{{ searched }}" name="searched" aria-label="Search">
                        {% else %}
                                <input class="search-input" type="text" placeholder="기업이나 키워드를 검색해보세요!" name="searched" aria-label="Search">
                        {% endif %}
                                <button class="search-button" type="submit"><i class="fas fa-search"></i></button>

                </form>

                <hr class="divison-line">
        </section>

        <section class="search-result-section">

                <div class="search-container">

                        <!-- 검색결과 나열하기 -->
                        {% for corp in corps %}
                                <div class="searched_item">
                                        <h2>{{ corp.corpname }}</h2>
                                        <p>주식 종목 코드 : {{ corp.code }}</p>
                                        <p class="tags">법인 등록 코드 : {{ corp.crno }}</p>
                                </div>
                        {% endfor %}

                </div>
        </section>

</body>
</html>